{
    \"id\": \"/pridictionio-eventserver\",
    \"instances\": $NUM_INSTANCES,
    \"cpus\": $CPUS,
    \"mem\": $MEM,
    \"shell\": \"false\",
    \"args\": [\"eventserver\"],
    \"container\": {
        \"type\": \"DOCKER\",
        \"docker\": {
            \"image\": \"dockerhub.razerdata.com/razer/predictionio:0.0.2\",
            \"network\": \"BRIDGE\",
	    \"parameters\": [
		 {\"key\": \"env\", \"value\": \"ES_NAME=$ES_NAME\"},
		 {\"key\": \"env\", \"value\": \"ES_HOST=$ES_HOST\"},
		 {\"key\": \"env\", \"value\": \"ES_T_PORT=$ES_T_PORT\"},
		 {\"key\": \"env\", \"value\": \"ZOOKEEPER_HOSTS=$ZOOKEEPER_HOSTS\"},
		 {\"key\": \"env\", \"value\": \"NAMENODE=$NAMENODE\"}
	    ],
            \"portMappings\": [
                {
                    \"containerPort\": 7070,
                    \"hostPort\": 0,
                    \"protocol\": \"tcp\"
                }
            ]
        }
    },
    \"healthChecks\": [
    {
        \"portIndex\": 0,
        \"protocol\": \"TCP\",
        \"gracePeriodSeconds\": 300,
        \"intervalSeconds\": 60,
        \"timeoutSeconds\": 20,
        \"maxConsecutiveFailures\": 3,
        \"ignoreHttp1xx\": false
    }
    ]
}
