{
    "path": "{{ check_url|default("/") }}",
    "portIndex": {{ port|default(0) }},
    "protocol": "HTTP",
    "gracePeriodSeconds": 300,
    "intervalSeconds": 60,
    "timeoutSeconds": 20,
    "maxConsecutiveFailures": 3,
    "ignoreHttp1xx": false
}
