{
    \"id\": \"/chronos\",
    \"instances\": $NUM_INSTANCES,
    \"cpus\": $CPUS,
    \"mem\": $MEM,
    \"shell\": \"false\",
    \"constraints\": [[\"hostname\", \"LIKE\", \"master[0-2].mes0.razerdata.com\"]],
    \"cmd\": \"/usr/bin/chronos --http_port 8080 --master zk://master0.$CLUSTER_NAME.$ROOT_DOMAIN:2181,master1.$CLUSTER_NAME.$ROOT_DOMAIN:2181,master2.$CLUSTER_NAME.$ROOT_DOMAIN:2181/$CLUSTER_NAME --zk_hosts master0.$CLUSTER_NAME.$ROOT_DOMAIN:2181,master1.$CLUSTER_NAME.$ROOT_DOMAIN:2181,master2.$CLUSTER_NAME.$ROOT_DOMAIN:2181 --cluster_name chronos --hostname '$(hostname -i)'\",
    \"container\": {
        \"type\": \"DOCKER\",
        \"docker\": {
            \"image\": \"mesosphere/chronos:chronos-2.3.4-1.0.81.ubuntu1404-mesos-0.22.1-1.0.ubuntu1404\",
            \"network\": \"BRIDGE\",
            \"portMappings\": [
                {
                    \"containerPort\": 8080,
                    \"hostPort\": 0,
                    \"protocol\": \"tcp\"
                }
            ]
        }
    },
    \"healthChecks\": [
    {
        \"path\": \"/\",
        \"portIndex\": 0,
        \"protocol\": \"HTTP\",
        \"gracePeriodSeconds\": 300,
        \"intervalSeconds\": 60,
        \"timeoutSeconds\": 20,
        \"maxConsecutiveFailures\": 3,
        \"ignoreHttp1xx\": false
    }
    ]
}
