{%- set docker_image = docker_image or "dockerhub.razerdata.com/razer/hdfs-2.4.1:0.0.1" -%}
{%- set docker_network = docker_network or "HOST" -%}
{%- set group_name = group_name or "production" -%}
{%- set worker_instances = worker_instances or instances -%}
{
    "id": "/hdfs",
    "groups": [
        {
            "id": "{{ group_name }}",
            "apps": [
                {%- set instances = 1 -%}
                {% include "apps/hdfs/hdfs_namenode.json.tmpl" %},
                {%- set instances = 1 -%}
                {% include "apps/hdfs/hdfs_secondarynamenode.json.tmpl" %},
                {%- set instances = worker_instances -%}
                {% include "apps/hdfs/hdfs_datanode.json.tmpl" %}
            ]
         }
    ]
}
