{%- set docker_image = docker_image or "dockerhub.razerdata.com/razer/hdfs-2.4.1:0.0.1" -%}
{%- set docker_network = docker_network or "HOST" -%}
{%- set group_name = group_name or "production" -%}
{%- set master = master or "stable0.mes0.razerdata.com" -%}
{%- set namenode_selector = namenode_selector or "stable0.*" -%}
{%- set docker_parameters = docker_parameters or [
    {"key": "env", "value": "MASTER=%s" % master},
] -%}
{
    "id": "/hdfs/{{ group_name }}/namenode",
	    "instances": {{ instances|default(1) }},
    "cpus": {{ cpus|default(0.1) }},
    "mem": {{ mem|default(1024) }},
    "shell": "false",
    "args": ["hdfs", "namenode"],
    "constraints": [["hostname", "LIKE", "{{ namenode_selector }}"]],
    "ports": [0],
    "container": 
    {% include "misc/containers/docker.json.tmpl" %},
    "healthChecks": [
    {% include "misc/healthchecks/http_check.json.tmpl" %}
    ]
}
