{%- set docker_image = docker_image or "dockerhub.razerdata.com/razer/hbase-1.1.0:0.0.1" -%}
{%- set docker_network = docker_network or "HOST" -%}
{%- set group_name = group_name or "production" -%}
{%- set regionserver_selector = regionserver_selector or "stable.*" -%}
{%- set hdfs_root_dir = hdfs_root_dir or "hdfs://stable0.mes0.razerdata.com:50030/hbase_%s" % group_name -%}
{%- set zookeeper_znode_parent = zookeeper_znode_parent or "/hbase-%s" % group_name -%}
{%- set zookeeper_hosts = zookeeper_hosts or "master0.mes0.razerdata.com,master1.mes0.razerdata.com,master2.mes0.razerdata.com" -%}
{
    "id": "/hbase/{{ group_name }}/regionserver",
    "instances": {{ instances|default(1) }},
    "cpus": {{ cpus|default(0.1) }},
    "mem": {{ mem|default(1024) }},
    "shell": "false",
    "ports": [0, 0],
    "cmd": "/hbase/bin/hbase regionserver -Dhbase.regionserver.info.port=$PORT0 -Dhbase.regionserver.port=$PORT1 -Dhbase.cluster.distributed='true' -Dhbase.rootdir={{ hdfs_root_dir }} -Dhbase.zookeeper.quorum={{ zookeeper_hosts }} -Dzookeeper.znode.parent={{ zookeeper_znode_parent }} -Dhbase.regionserver.hostname=$(hostname -i) start",
    "constraints": [["hostname", "UNIQUE"], ["hostname", "LIKE", "{{ regionserver_selector }}"]],
    "container": 
    {% include "misc/containers/docker.json.tmpl" %},
    "healthChecks": [
    {% include "misc/healthchecks/http_check.json.tmpl" %}
    ]
}
