{
    "type": "DOCKER",
    "docker": {
        "image": "{{ docker_image|default("ubuntu:14:04") }}",
        "network": "{{ docker_network|default("BRIDGE") }}",
        "privileged": {{ privileged|default("false") }},
        "portMappings": [
        {%- for p in docker_ports %}
        {%- if not loop.last %}
        {
            "containerPort": {{ p.containerPort }},
            "hostPort": {{ p.hostPort|default(0) }},
            {%- if p.servicePort %}
            "servicePort": {{ p.servicePort }},
            {%- endif %}
            "protocol": "{{ p.protocol|default("tcp") }}"
        },
        {% else %}
        {
            "containerPort": {{ p.containerPort }},
            "hostPort": {{ p.hostPort|default(0) }},
            {%- if p.servicePort %}
            "servicePort": {{ p.servicePort }},
            {%- endif %}
            "protocol": "{{ p.protocol|default("tcp") }}"
        }
        {%- endif %}
        {%- endfor %}
        ],
        "parameters": [
        {%- for p in docker_parameters %}
        {%- if not loop.last %}
        { "key": "{{ p.key }}", "value": "{{ p.value }}" },
        {% else %}
        { "key": "{{ p.key }}", "value": "{{ p.value }}" }
        {%- endif %}
        {%- endfor %}
        ]
    },
    "volumes": [
    {%- for v in docker_volumes %}
    {%- if not loop.last %}
    { "containerPath": "{{ v.containerPath }}", "hostPath": "{{ v.hostPath }}", "mode": "{{ v.mode|default("RO")}}" },
    {% else %}
    { "containerPath": "{{ v.containerPath }}", "hostPath": "{{ v.hostPath }}", "mode": "{{ v.mode|default("RO")}}" }
    {%- endif %}
    {%- endfor %}
    ]
}
